<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries><package android:name="com.lelloman.store.debug" /></queries>
    <application android:name=".FixtureApplication" android:label="Notification fixture" android:allowBackup="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".FixtureActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <service android:name=".FixtureReceiver" android:exported="true" />
    </application>
</manifest>
